aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
auraloss==0.4.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
filelock==3.12.3
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.0
gitdb==4.0.10
GitPython==3.1.34
idna==3.4
imageio==2.31.3
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
librosa==0.10.1
lightning-utilities==0.9.0
llvmlite==0.40.1
MarkupSafe==2.1.3
matplotlib==3.7.2
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
networkx==3.1
numba==0.57.1
numpy==1.24.4
packaging==23.1
Pillow==10.0.0
platformdirs==3.10.0
pooch==1.7.0
progressbar==2.5
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-lightning==2.0.8
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
smmap==5.0.0
soundfile==0.12.1
soxr==0.3.6
ssr-eval==0.0.7
sympy==1.12
threadpoolctl==3.2.0
tifffile==2023.8.30
torch==2.0.1
torchaudio==2.0.2
torchlibrosa==0.1.0
torchmetrics==1.1.1
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.0.4
voicefixer
Wave==0.0.2
yarl==1.9.2
